body {
    position: relative;
    width: 1000px;
}

.nav {
    background-color: rgba(0,0,0, .5);
    display: block;
    position: absolute;
    left: -220px;
    width: 200px;
}
.nav:hover,
.nav:focus,
.nav:active {
  left: 0;
}


.deck {
    border: 1px solid blue;
}
/** ** card styls ** **/
.card {
    width: 100px;
    height: 150px;
    border: 1px solid red;
    display: inline-block;
}

.heart {
    background: url(i/h1.png) 0 0 no-repeat;
}

.spade {
    background: url(i/s1.png) 0 0 no-repeat;
}

.leaf {
    background: url(i/l1.png) 0 0 no-repeat;
}

.diamond {
    background: url(i/t1.png) 0 0 no-repeat;
}

.row {
    text-align: center;
    margin-bottom: -40px;
}