
body {
    position: relative;
    width: 1000px;
    min-height: 100%;
    position: relative;
}

.nav {
    background-color: rgba(0,0,0, .5);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px;
    margin-left: -190px;
    min-height: 100%;
    height: 100%;
}
.nav:hover,
.nav:focus,
.nav:active {
    margin-left: -10px;
}

.current {
    border: 1px solid red;
}

.decks:after { content:""; display:block; clear:both; height:0;  visibility:hidden; }
.decks {
    border: 1px solid blue;
    clear: both;
    width: 260px;
    position: absolute;

}
.drawdeck,
.trashdeck {
    float: left;
}


/** ** card styls ** **/

.card {
    width: 100px;
    height: 150px;
    border: 1px solid rgba(0,0,0, .2);
    border-radius: 7px;
    display: inline-block;
    opacity: 1;
    filter: alpha(opacity=1);
    position: relative;
}

.value {
    position: absolute;
    top: 2px;
    left: 1px;
    width: 20px;
    text-align: center;
}
.v2 {
    top: auto;
    left: auto;
    bottom: 4px;
    right: -2px;
}
.card .rank { display: none; }
.ui-draggable-dragging {
    z-index: 10;
}


/* suits */
.hearts {
    background: url(i/hearts.svg) 0 0 no-repeat;
}
.clubs {
    background: url(i/clubs.svg) 0 0 no-repeat;
}

.diamonds {
    background: url(i/diamonds.svg) 0 0 no-repeat;
}
.spades {
    background: url(i/spades.svg) 0 0 no-repeat;
}
.card .index,
.jack .value,
.queen .value,
.king .value { position:absolute;right:9999px;left:auto; }

/* kings */
.hearts.king {
    background: url(i/king_hearts.svg) 0 0 no-repeat;
}
.spades.king {
    background: url(i/king_spades.svg) 0 0 no-repeat;
}
.diamonds.king {
    background: url(i/king_diamonds.svg) 0 0 no-repeat;
}
.clubs.king {
    background: url(i/king_clubs.svg) 0 0 no-repeat;
}


/* queens */
.hearts.queen {
    background: url(i/queen_hearts.svg) 0 0 no-repeat;
}
.spades.queen {
    background: url(i/queen_spades.svg) 0 0 no-repeat;
}
.diamonds.queen {
    background: url(i/queen_diamonds.svg) 0 0 no-repeat;
}
.clubs.queen {
    background: url(i/queen_clubs.svg) 0 0 no-repeat;
}

/* jacks */
.hearts.jack {
    background: url(i/jack_hearts.svg) 0 0 no-repeat;
}
.spades.jack {
    background: url(i/jack_spades.svg) 0 0 no-repeat;
}
.diamonds.jack {
    background: url(i/jack_diamonds.svg) 0 0 no-repeat;
}
.clubs.jack {
    background: url(i/jack_clubs.svg) 0 0 no-repeat;
}

/* css transition to hide cards */
.gone {
    -webkit-transition: all 1.0s ease-in-out;
    transition:         all 1.0s ease-in-out;
    opacity: 0;
    filter: alpha(opacity=0);
}

.row {
    text-align: center;
    margin-bottom: -70px;
}