
body {
    position: relative;
    width: 1000px;
    min-height: 100%;
    position: relative;
}

.nav {
    background-color: rgba(0,0,0, .5);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px;
    margin-left: -190px;
    min-height: 100%;
    height: 100%;
}
.nav:hover,
.nav:focus,
.nav:active {
    margin-left: -10px;
}

.current {
    border: 1px solid red;
}

.decks:after { content:""; display:block; clear:both; height:0;  visibility:hidden; }
.decks {
    border: 1px solid blue;
    clear: both;
    width: 260px;
    position: absolute;

}
.drawdeck,
.trashdeck {
    float: left;
}
.king .value,
.queen .value,
.jack .value,
.index { position:absolute;right:9999px;left:auto; }
/** ** card styls ** **/
.card {
    width: 100px;
    height: 150px;
    border: 1px solid red;
    display: inline-block;
    opacity: 1;
    filter: alpha(opacity=1);
}

.hearts {
    background: url(i/h1.png) 0 0 no-repeat;
}
.spades .king {
    background: url(i/kingof-spades.png) 0 0 no-repeat;
}
.king .value { position:absolute;right:9999px;left:auto; }

.spades {
    background: url(i/s1.png) 0 0 no-repeat;
}

.clubs {
    background: url(i/l1.png) 0 0 no-repeat;
}

.diamonds {
    background: url(i/t1.png) 0 0 no-repeat;
}
.gone {
    -webkit-transition: all 1.0s ease-in-out;
    transition:         all 1.0s ease-in-out;
    opacity: 0;
    filter: alpha(opacity=0);
}

.row {
    text-align: center;
    margin-bottom: -70px;
}